Repository algolia/algoliasearch-client-go: changes, and which lint-staged commands are due for each by the changed paths.
All: docker exec -t dev yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix

.lintstagedrc:

{
  "generators/**/*.java": "docker exec -t dev yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts)": "yarn scripts:lint --fix"
}

chore: prepare release 2022-08-23 (#950)
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: release 2022-08-23 [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/client-sources/package.json
  clients/algoliasearch-client-javascript/packages/client-sources/src/sourcesClient.ts
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/composer.json
Due: yarn fix:json

chore: fix comment in suggestions api (#678)
  algolia/suggestions/configuration.go
  cts/suggestions/config_test.go
Due: none

chore(circleci): use matrix
  .circleci/config.yml
Due: none

chore(circleci): use modern image
  .circleci/config.yml
Due: none

chore(circleci): use matrix (#698)
  .circleci/config.yml
Due: none

process the error for save objects operation wait
  algolia/search/index_objects.go
Due: none

Apply suggestions from code review
  algolia/search/index_objects.go
Due: none

fix: only save objects in a non-existent index if replaceAllObjects called
  algolia/search/index_objects.go
  cts/index/replacing_test.go
Due: none

empty rule condition anchoring -> no pattern marshalling
  algolia/search/rule_condition.go
  algolia/search/rule_condition_test.go
Due: none

chore: link to the latest v3 document URL on README.md (#684)
  README.md
Due: none

chore(circleci): split unit/integration tests
  .circleci/config.yml
Due: none

chore(circleci): ignore integration tests on fork pull request
  .circleci/config.yml
Due: none

chore(circleci): rename build → ci
  .circleci/config.yml
Due: none

chore(deps): dependencies 2022-08-29 (#961)
  .nvmrc
  .yarn/releases/yarn-3.2.2.cjs
  .yarn/releases/yarn-3.2.3.cjs
  .yarnrc.yml
  clients/algoliasearch-client-javascript/.nvmrc
  clients/algoliasearch-client-javascript/.yarn/releases/yarn-3.2.2.cjs
  clients/algoliasearch-client-javascript/.yarn/releases/yarn-3.2.3.cjs
  clients/algoliasearch-client-javascript/.yarnrc.yml
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  eslint/package.json
  netlify.toml
  package.json
  playground/javascript/browser/package.json
  playground/javascript/node/package.json
  renovate.json
  scripts/cli/utils.ts
  scripts/config.ts
  scripts/package.json
  templates/javascript/clients/package.mustache
  templates/javascript/tests/package.mustache
  website/.yarn/releases/yarn-3.2.2.cjs
  website/.yarn/releases/yarn-3.2.3.cjs
  website/.yarnrc.yml
  website/package.json
  website/yarn.lock
  yarn.lock
Due: yarn fix:json

chore: generated code for commit ac1a34aa105fff57eb406b784ee3a5e0b6f4dace. [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-sources/package.json
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
Due: yarn fix:json

fix(query rules): Suppress rule condition pattern marshalling in case of empty anchoring (#689)
  algolia/search/rule_condition.go
  algolia/search/rule_condition_test.go
Due: none

fix(indexing): replaceAllObjects blocked if called for non-existent index (#699)
  algolia/search/index_objects.go
  cts/index/replacing_test.go
Due: none

fix(javascript): encode query parameters (#973)
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/createEchoRequester.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/helpers.ts
  playground/javascript/node/predict.ts
  templates/javascript/tests/client/suite.mustache
  tests/output/javascript/yarn.lock
Due: none

chore: generated code for commit 0df4fb28832162e4f4c432b31d269000a03edf23. [skip ci]
  tests/output/javascript/src/client/abtesting.test.ts
  tests/output/javascript/src/client/analytics.test.ts
  tests/output/javascript/src/client/insights.test.ts
  tests/output/javascript/src/client/personalization.test.ts
  tests/output/javascript/src/client/predict.test.ts
  tests/output/javascript/src/client/querySuggestions.test.ts
  tests/output/javascript/src/client/recommend.test.ts
  tests/output/javascript/src/client/search.test.ts
  tests/output/javascript/src/client/sources.test.ts
Due: none

chore: fix JavaScript build (#975)
  scripts/buildClients.ts
  scripts/ci/githubActions/createMatrix.ts
Due: none

fix(cts): friendly error message when test is missing (#976)
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
Due: docker exec -t dev yarn cli format java generators

chore(circleci): split unit/integration tests (#700)
  .circleci/config.yml
Due: none
