Repository algolia/algoliasearch-client-go: changes, and which lint-staged commands are due for each by the changed paths.
All: docker exec -t api-clients-automation yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix

.lintstagedrc:

{
  "generators/**/*.java": "docker exec -t api-clients-automation yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts)": "yarn scripts:lint --fix"
}

chore: generated code for commit 619e2ad70e668da376df2919e7d3f5ba7e47607a. [skip ci]
  algolia/ingestion/model_source_csv.go
  clients/algoliasearch-client-javascript/packages/ingestion/model/sourceCSV.ts
  specs/bundled/ingestion.yml
Due: none

feat(go): template improvements (#1444)
  algolia/call/kind.go
  algolia/compression/compression.go
  algolia/debug/debug.go
  algolia/debug/utils.go
  algolia/internal/errs/net_err.go
  algolia/internal/errs/no_more_host_to_try_err.go
  algolia/internal/transport/requester.go
  algolia/internal/transport/retry_strategy.go
  algolia/internal/transport/stateful_host.go
  algolia/internal/transport/transport.go
  algolia/internal/transport/utils.go
  config/generation.config.js
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
  generators/src/main/java/com/algolia/codegen/Utils.java
  playground/go/main.go
  templates/go/api.mustache
  templates/go/client.mustache
  templates/go/configuration.mustache
  templates/go/model_simple.mustache
  templates/go/utils.mustache
  templates/java/api.mustache
  templates/javascript/clients/client/api/hosts.mustache
  templates/php/api.mustache
Due: docker exec -t api-clients-automation yarn cli format java generators

chore: prepare release 2023-04-06 (#1446)
  CHANGELOG.md
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: release 2023-04-06 [skip ci]
  algolia/analytics/client.go
  algolia/ingestion/client.go
  algolia/insights/client.go
  algolia/personalization/client.go
  algolia/predict/client.go
  algolia/query-suggestions/client.go
  algolia/recommend/client.go
  algolia/search/client.go
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/composer.json
Due: yarn fix:json

feat: add index_prefix and index_suffix options for ab_testing
  algolia/analytics/client_ab_testing.go
  algolia/internal/gen/options.go
  algolia/internal/opt/index_prefix.go
  algolia/internal/opt/index_prefix_test.go
  algolia/internal/opt/index_suffix.go
  algolia/internal/opt/index_suffix_test.go
  algolia/opt/index_prefix.go
  algolia/opt/index_suffix.go
  algolia/opt/option_getters_test.go
Due: none

chore: pr review
  algolia/internal/gen/options.go
Due: none

fix: thank goodness for testing
  algolia/analytics/client_ab_testing.go
Due: none

feat: testing
  cts/analytics/ab_testing_test.go
Due: none

feat: allow to set a custom delay for the wait functions
  algolia/internal/gen/options.go
  algolia/internal/opt/wait_configuration.go
  algolia/internal/opt/wait_configuration_test.go
  algolia/opt/option_getters_test.go
  algolia/opt/wait_configuration.go
  algolia/search/client.go
  algolia/search/client_keys.go
  algolia/search/index.go
  algolia/search/utils.go
Due: none

chore: run ci with go 1.18, 1.19 and 1.20 but deprecate 1.13, 1.14 and 1.15
  .circleci/config.yml
Due: none

apply review
  algolia/internal/opt/wait_configuration.go
  algolia/opt/wait_configuration.go
Due: none

feat(abtests): add index_prefix and index_suffix options for ab_testing (#725)
  algolia/analytics/client_ab_testing.go
  algolia/internal/gen/options.go
  algolia/internal/opt/index_prefix.go
  algolia/internal/opt/index_prefix_test.go
  algolia/internal/opt/index_suffix.go
  algolia/internal/opt/index_suffix_test.go
  algolia/opt/index_prefix.go
  algolia/opt/index_suffix.go
  algolia/opt/option_getters_test.go
  cts/analytics/ab_testing_test.go
Due: none

chore: prepare release 2023-04-12 (#1460)
  CHANGELOG.md
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: release 2023-04-12 [skip ci]
  algolia/analytics/client.go
  algolia/ingestion/client.go
  algolia/insights/client.go
  algolia/personalization/client.go
  algolia/predict/client.go
  algolia/query-suggestions/client.go
  algolia/recommend/client.go
  algolia/search/client.go
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/composer.json
Due: yarn fix:json

test: add sleep to stabilize the tests
  algolia/search/responses_indexing.go
  algolia/search/responses_multiple.go
  algolia/wait/group.go
  cts/analytics/aa_testing_test.go
  cts/analytics/ab_testing_test.go
  cts/index/indexing_test.go
  cts/index/rule_test.go
  cts/index/synonym_test.go
  cts/search/mcm_test.go
  cts/suggestions/config_test.go
Due: none

chore: update version to 3.28.0 [skip ci]
  ChangeLog.md
  algolia/transport/transport.go
Due: none

chore: fix release script
  release.sh
Due: none

chore: generated code for commit 692aa2d85c52d933c95cfef74a602a919810c852. [skip ci]
  algolia/ingestion/model_event_type.go
  clients/algoliasearch-client-javascript/packages/ingestion/model/eventType.ts
  specs/bundled/ingestion.yml
Due: none

chore: generated code for commit 9a65a5330e31ffec8a6121b58d14b28a9f542bb5. [skip ci]
  algolia/predict/model_segment.go
  clients/algoliasearch-client-javascript/packages/predict/model/segment.ts
  specs/bundled/ingestion.yml
  specs/bundled/predict.yml
Due: none

chore: prepare release 2023-04-18 (#1473)
  CHANGELOG.md
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: release 2023-04-18 [skip ci]
  algolia/analytics/client.go
  algolia/ingestion/client.go
  algolia/ingestion/model_task.go
  algolia/insights/client.go
  algolia/personalization/client.go
  algolia/predict/client.go
  algolia/query-suggestions/client.go
  algolia/recommend/client.go
  algolia/search/client.go
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/task.ts
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/composer.json
Due: yarn fix:json

fix: pass unpacked options in some requests call
  algolia/personalization/client_personalization.go
  algolia/recommend/client_recommend.go
  algolia/recommendation/client_personalization.go
  algolia/search/account.go
  algolia/search/client.go
  algolia/search/client_dictionaries.go
  algolia/search/index.go
Due: none
