Repository algolia/algoliasearch-client-go: changes, and which lint-staged commands are due for each by the changed paths.
All: docker exec -t dev yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix

.lintstagedrc:

{
  "generators/**/*.java": "docker exec -t dev yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts)": "yarn scripts:lint --fix"
}

fix(php): test post empty body (#909)
  templates/php/tests/requests/requests.mustache
Due: none

chore: generated code for commit eec85ae05ecf6bf13fc62a544cb74c23644475a8. [skip ci]
  tests/output/php/src/methods/requests/AbtestingTest.php
  tests/output/php/src/methods/requests/AnalyticsTest.php
  tests/output/php/src/methods/requests/InsightsTest.php
  tests/output/php/src/methods/requests/PersonalizationTest.php
  tests/output/php/src/methods/requests/QuerySuggestionsTest.php
  tests/output/php/src/methods/requests/RecommendTest.php
  tests/output/php/src/methods/requests/SearchTest.php
Due: none

fix(javascript): utils tests run time (#908)
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/create-iterable-promise.test.ts
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/src/__tests__/browser-xhr-requester.test.ts
  clients/algoliasearch-client-javascript/packages/requester-fetch/src/__tests__/fetch-requester.test.ts
  clients/algoliasearch-client-javascript/packages/requester-node-http/src/__tests__/node-http-requester.test.ts
Due: none

fix(specs): browseResponse, IndexSettings and searchResponse (#900)
  specs/common/schemas/IndexSettings.yml
  specs/search/common/schemas/SearchResponse.yml
  tests/CTS/methods/requests/search/setSettings.json
Due: yarn fix:json

chore: prepare release 2022-08-08 (#910)
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: release 2022-08-08 [skip ci]
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/AbtestingClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/AnalyticsClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/InsightsClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/PersonalizationClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/PredictClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/QuerySuggestionsClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/RecommendClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-java-2/gradle.properties
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/client-sources/package.json
  clients/algoliasearch-client-javascript/packages/client-sources/src/sourcesClient.ts
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/composer.json
  tests/output/java/build.gradle
Due: yarn fix:json

fix(specs): allow `searchParams` in `browse` method (#911)
  .github/.cache_version
  specs/common/schemas/SearchParams.yml
  specs/search/common/schemas/BrowseParams.yml
  specs/search/common/schemas/BrowseResponse.yml
  specs/search/common/schemas/SearchResponse.yml
  specs/search/paths/search/browse.yml
  specs/search/paths/search/search.yml
  specs/search/paths/search/searchSingleIndex.yml
  templates/javascript/clients/client/api/helpers.mustache
  tests/CTS/methods/requests/search/browse.json
  tests/CTS/methods/requests/search/searchSingleIndex.json
Due: yarn fix:json

chore: generated code for commit c2a054faa35950ff6d37f9e74a6cf04715b6de87. [skip ci]
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/model/search/BrowseParams.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/model/search/BrowseParamsObject.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/model/search/BrowseRequest.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/model/search/Cursor.java
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/model/browseParams.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/model/browseParamsObject.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/model/browseResponse.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/model/cursor.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/model/index.ts
  clients/algoliasearch-client-javascript/packages/client-search/model/browseParams.ts
  clients/algoliasearch-client-javascript/packages/client-search/model/browseParamsObject.ts
  clients/algoliasearch-client-javascript/packages/client-search/model/browseRequest.ts
  clients/algoliasearch-client-javascript/packages/client-search/model/browseResponse.ts
  clients/algoliasearch-client-javascript/packages/client-search/model/clientMethodProps.ts
  clients/algoliasearch-client-javascript/packages/client-search/model/cursor.ts
  clients/algoliasearch-client-javascript/packages/client-search/model/index.ts
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-php/lib/Api/SearchClient.php
  clients/algoliasearch-client-php/lib/Model/Search/BrowseParams.php
  clients/algoliasearch-client-php/lib/Model/Search/BrowseParamsObject.php
  clients/algoliasearch-client-php/lib/Model/Search/BrowseRequest.php
  clients/algoliasearch-client-php/lib/Model/Search/Cursor.php
  specs/bundled/algoliasearch.yml
  specs/bundled/search.yml
  tests/output/java/src/test/java/com/algolia/methods/requests/Search.test.java
  tests/output/javascript/src/methods/requests/search.test.ts
  tests/output/php/src/methods/requests/SearchTest.php
Due: none

chore: prepare release 2022-08-09 (#912)
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: release 2022-08-09 [skip ci]
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/AbtestingClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/AnalyticsClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/InsightsClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/PersonalizationClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/PredictClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/QuerySuggestionsClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/RecommendClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-java-2/gradle.properties
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/client-sources/package.json
  clients/algoliasearch-client-javascript/packages/client-sources/src/sourcesClient.ts
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/composer.json
  tests/output/java/build.gradle
Due: yarn fix:json

fix(javascript): build (#867)
  .github/actions/restore-artifacts/action.yml
  .github/workflows/check.yml
  clients/algoliasearch-client-javascript/.gitignore
  clients/algoliasearch-client-javascript/base.rollup.config.js
  clients/algoliasearch-client-javascript/bundlesize.config.json
  clients/algoliasearch-client-javascript/lerna.json
  clients/algoliasearch-client-javascript/nx.json
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-common/rollup.config.js
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/rollup.config.js
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/rollup.config.js
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/rollup.config.js
  clients/algoliasearch-client-javascript/rollup.config.js
  clients/algoliasearch-client-javascript/scripts/build_all.sh
  clients/algoliasearch-client-javascript/yarn.lock
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaScriptGenerator.java
  playground/javascript/node/algoliasearch.ts
  scripts/buildClients.ts
  scripts/ci/githubActions/createMatrix.ts
  scripts/ci/githubActions/types.ts
  templates/javascript/clients/algoliasearch/lite.d.mustache
  templates/javascript/clients/algoliasearch/lite.tsconfig.mustache
  templates/javascript/clients/package.mustache
  templates/javascript/clients/rollup.mustache
  templates/javascript/clients/tsconfig.mustache
Due: docker exec -t dev yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json

chore: generated code for commit 27b78d933d37d9053513537709a1c875b635322d. [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite.d.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/tsconfig.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/rollup.config.js
  clients/algoliasearch-client-javascript/packages/algoliasearch/tsconfig.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/rollup.config.js
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/rollup.config.js
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/rollup.config.js
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/rollup.config.js
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/rollup.config.js
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-search/rollup.config.js
  clients/algoliasearch-client-javascript/packages/client-sources/package.json
  clients/algoliasearch-client-javascript/packages/client-sources/rollup.config.js
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/predict/rollup.config.js
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/recommend/rollup.config.js
  clients/algoliasearch-client-javascript/yarn.lock
Due: yarn fix:json

fix(php): composer dependency (#915)
  templates/php/composer.mustache
Due: none

chore: generated code for commit f87ef6bef1d9f2633d3cbecbd43662747a2f0ca8. [skip ci]
  clients/algoliasearch-client-php/composer.json
Due: yarn fix:json

fix(specs): make `batch` body parameters required (#917)
  specs/search/paths/objects/batch.yml
Due: none

fix(clients): list available regions when region is missing (#916)
  templates/java/api.mustache
  templates/javascript/clients/algoliasearch/builds/initClients.mustache
  templates/javascript/clients/client/builds/checkParameters.mustache
  templates/php/ConfigWithRegion.mustache
  templates/php/api.mustache
  templates/php/tests/client/suite.mustache
  tests/CTS/client/personalization/parameters.json
  tests/CTS/client/predict/parameters.json
  tests/CTS/client/query-suggestions/parameters.json
  tests/CTS/client/sources/parameters.json
Due: yarn fix:json

chore: prepare release 2022-08-10 (#918)
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: release 2022-08-10 [skip ci]
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/AbtestingClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/AnalyticsClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/InsightsClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/PersonalizationClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/PredictClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/QuerySuggestionsClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/RecommendClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-java-2/gradle.properties
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/client-sources/package.json
  clients/algoliasearch-client-javascript/packages/client-sources/src/sourcesClient.ts
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/composer.json
  tests/output/java/build.gradle
Due: yarn fix:json

fix(javascript): do not send user-agent for Predict (#919)
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/createTransporter.ts
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaScriptGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  templates/javascript/clients/api-single.mustache
Due: docker exec -t dev yarn cli format java generators

chore: generated code for commit dc43c2ad178305881e131a6e8cf23ca24b9be6e7. [skip ci]
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  tests/output/java/src/test/java/com/algolia/client/Predict.test.java
  tests/output/javascript/src/client/predict.test.ts
Due: none

chore: prepare release 2022-08-11 (#920)
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: release 2022-08-11 [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/client-sources/package.json
  clients/algoliasearch-client-javascript/packages/client-sources/src/sourcesClient.ts
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
Due: yarn fix:json

chore: fix license link (#921)
  README.md
Due: none

fix(javascript): allow undefined object when all parameters are optional (#922)
  clients/algoliasearch-client-javascript/bundlesize.config.json
  templates/javascript/clients/client/api/operation/parameters.mustache
  tests/CTS/methods/requests/abtesting/listABTests.json
  tests/CTS/methods/requests/search/getLogs.json
  tests/CTS/methods/requests/search/hasPendingMappings.json
  tests/CTS/methods/requests/search/listIndices.json
  tests/CTS/methods/requests/search/listUserIds.json
Due: yarn fix:json

chore: prevent linting all clients for JavaScript (#923)
  .eslintignore
  scripts/generate.ts
Due: none

chore: generated code for commit 56b22bc821ba2fa3a17d9efc35d0f9cb926ee1fa. [skip ci]
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  tests/output/java/src/test/java/com/algolia/methods/requests/Abtesting.test.java
  tests/output/java/src/test/java/com/algolia/methods/requests/Search.test.java
  tests/output/javascript/src/methods/requests/abtesting.test.ts
  tests/output/javascript/src/methods/requests/search.test.ts
  tests/output/php/src/methods/requests/AbtestingTest.php
  tests/output/php/src/methods/requests/SearchTest.php
Due: none

chore: prepare release 2022-08-12 (#924)
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: release 2022-08-12 [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/client-sources/package.json
  clients/algoliasearch-client-javascript/packages/client-sources/src/sourcesClient.ts
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
Due: yarn fix:json

docs(java): small migration guide (#934)
  website/docs/clients/guides/customized-client-usage.mdx
  website/docs/clients/guides/filtering-your-search.mdx
  website/docs/clients/guides/retrieving-facets.mdx
  website/docs/clients/guides/send-data-to-algolia.mdx
  website/docs/clients/installation.mdx
  website/docs/clients/migration-guides/index.mdx
  website/docs/clients/migration-guides/java.md
  website/docs/clients/migration-guides/javascript.md
  website/docs/clients/migration-guides/php.md
Due: none

docs(php): update migration guide for PHP (#935)
  website/docs/clients/guides/send-data-to-algolia.mdx
  website/docs/clients/migration-guides/php.md
Due: none

chore(deps): dependencies 2022-08-22 (#937)
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  eslint/package.json
  package.json
  scripts/package.json
  templates/javascript/clients/package.mustache
  templates/javascript/tests/package.mustache
  website/package.json
  website/yarn.lock
  yarn.lock
Due: yarn fix:json

chore: generated code for commit 7a6ff5ab63e74809e4ff5fe47b9ca2457e965f54. [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-sources/package.json
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/lib/ObjectSerializer.php
Due: yarn fix:json

chore: prepare release 2022-08-23 (#948)
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

chore: release 2022-08-23 [skip ci]
  clients/algoliasearch-client-php/composer.json
Due: yarn fix:json

fix(javascript): use `exports` field to pick correct bundle (#947)
  playground/javascript/node/search.ts
  templates/javascript/clients/package.mustache
Due: none

chore: generated code for commit 3b85c763bc12445c77ce34e5493a1d29dd4d7796. [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-sources/package.json
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
Due: yarn fix:json

feat(php): add iterator helper methods (#936)
  clients/algoliasearch-client-php/lib/Iterators/AbstractAlgoliaIterator.php
  clients/algoliasearch-client-php/lib/Iterators/ObjectIterator.php
  clients/algoliasearch-client-php/lib/Iterators/RuleIterator.php
  clients/algoliasearch-client-php/lib/Iterators/SynonymIterator.php
  playground/php/src/search.php
  templates/php/api.mustache
  website/docs/clients/migration-guides/index.mdx
Due: none

chore: generated code for commit 1a24f336c8edd9bd61b4137da674c43210d3114a. [skip ci]
  clients/algoliasearch-client-php/lib/Api/SearchClient.php
Due: none
