Repository algolia/algoliasearch-client-go: changes, and which lint-staged commands are due for each by the changed paths.
All: docker exec -t dev yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix

.lintstagedrc:

{
  "generators/**/*.java": "docker exec -t dev yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts)": "yarn scripts:lint --fix"
}

chore: prepare release 2022-07-25 (#866)
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-sources/package.json
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: release 2022-07-25 [skip ci]
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/AbtestingClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/AnalyticsClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/InsightsClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/PersonalizationClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/PredictClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/QuerySuggestionsClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/RecommendClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-java-2/gradle.properties
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/client-sources/src/sourcesClient.ts
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-php/composer.json
  tests/output/java/build.gradle
Due: yarn fix:json

fix(ci): prevent deleting all tests, correctly run JS tasks (#869)
  .github/workflows/check.yml
  scripts/ci/githubActions/createMatrix.ts
  scripts/ci/githubActions/types.ts
Due: yarn github-actions:lint --fix

fix(ci): remove size check on CI (#870)
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

fix(ci): make CTS only run generated tests (#871)
  .github/actions/restore-artifacts/action.yml
  .github/workflows/check.yml
  scripts/ci/githubActions/createMatrix.ts
  scripts/ci/githubActions/types.ts
Due: yarn github-actions:lint --fix

fix(specs): make `hits` required, `facets` count as an integer, `searchParams` as optional (#868)
  specs/recommend/common/schemas/RecommendationsResponse.yml
  specs/search/common/schemas/SearchResponse.yml
  specs/search/paths/search/searchSingleIndex.yml
  tests/CTS/methods/requests/search/searchSingleIndex.json
Due: yarn fix:json

chore: generated code for commit 6bdc94f5e354e5dd5b463648d21f42a02f54d4f4. [skip ci]
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/model/recommend/BaseSearchResponse.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/model/recommend/RecommendHits.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/model/recommend/RecommendationsResponse.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/model/search/BaseSearchResponse.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/model/search/BrowseResponse.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/model/search/SearchHits.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/model/search/SearchResponse.java
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/model/baseSearchResponse.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/model/searchHits.ts
  clients/algoliasearch-client-javascript/packages/client-search/model/baseSearchResponse.ts
  clients/algoliasearch-client-javascript/packages/client-search/model/clientMethodProps.ts
  clients/algoliasearch-client-javascript/packages/client-search/model/searchHits.ts
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/model/baseSearchResponse.ts
  clients/algoliasearch-client-javascript/packages/recommend/model/recommendHits.ts
  clients/algoliasearch-client-php/lib/Api/SearchClient.php
  clients/algoliasearch-client-php/lib/Model/Recommend/BaseSearchResponse.php
  clients/algoliasearch-client-php/lib/Model/Recommend/RecommendHits.php
  clients/algoliasearch-client-php/lib/Model/Recommend/RecommendationsResponse.php
  clients/algoliasearch-client-php/lib/Model/Search/BaseSearchResponse.php
  clients/algoliasearch-client-php/lib/Model/Search/BrowseResponse.php
  clients/algoliasearch-client-php/lib/Model/Search/SearchHits.php
  clients/algoliasearch-client-php/lib/Model/Search/SearchResponse.php
  specs/bundled/algoliasearch.yml
  specs/bundled/recommend.yml
  specs/bundled/search.yml
  tests/output/java/src/test/java/com/algolia/methods/requests/Search.test.java
  tests/output/javascript/src/methods/requests/search.test.ts
  tests/output/php/src/methods/requests/SearchTest.php
Due: none

feat(javascript): allow providing options for node requester (#872)
  clients/algoliasearch-client-javascript/packages/requester-node-http/src/__tests__/node-http-requester.test.ts
  clients/algoliasearch-client-javascript/packages/requester-node-http/src/createHttpRequester.ts
Due: none

fix(javascript): expose sub `algoliasearch` client's type (#873)
  templates/javascript/clients/algoliasearch/builds/imports.mustache
  templates/javascript/clients/algoliasearch/builds/models.mustache
  templates/javascript/clients/api-single.mustache
Due: none

chore: generated code for commit b7e3c6427f3c6f707c2a72297c98253553776ad0. [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/builds/models.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/builds/node.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/client-sources/src/sourcesClient.ts
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
Due: none

chore: prepare release 2022-07-27 (#875)
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: release 2022-07-27 [skip ci]
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/AbtestingClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/AnalyticsClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/InsightsClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/PersonalizationClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/PredictClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/QuerySuggestionsClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/RecommendClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-java-2/gradle.properties
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/client-sources/package.json
  clients/algoliasearch-client-javascript/packages/client-sources/src/sourcesClient.ts
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/composer.json
  tests/output/java/build.gradle
Due: yarn fix:json

fix(specs): `rules` and `objects` parameters/responses (#876)
  .github/.cache_version
  specs/common/schemas/IndexSettings.yml
  specs/search/common/schemas/listIndicesResponse.yml
  specs/search/paths/objects/batch.yml
  specs/search/paths/objects/getObjects.yml
  specs/search/paths/objects/multipleBatch.yml
  specs/search/paths/objects/objects.yml
  specs/search/paths/rules/common/schemas.yml
  specs/search/paths/rules/saveRules.yml
  specs/search/spec.yml
  templates/javascript/clients/client/model/types/dataType.mustache
  templates/javascript/clients/client/model/types/dataTypeGeneric.mustache
  templates/javascript/clients/client/model/types/isGeneric.mustache
  templates/javascript/clients/client/model/types/propagateGeneric.mustache
  templates/javascript/clients/model.mustache
  tests/CTS/methods/requests/search/setSettings.json
Due: yarn fix:json

fix(javascript): provide more options to `algoliasearch` (#877)
  clients/algoliasearch-client-javascript/packages/client-common/src/types/CreateClient.ts
  templates/javascript/clients/algoliasearch/builds/browser.mustache
  templates/javascript/clients/algoliasearch/builds/imports.mustache
  templates/javascript/clients/algoliasearch/builds/initClients.mustache
  templates/javascript/clients/algoliasearch/builds/models.mustache
  templates/javascript/clients/algoliasearch/builds/node.mustache
  templates/javascript/clients/client/builds/browser.mustache
  templates/javascript/clients/client/builds/imports.mustache
  templates/javascript/clients/client/builds/node.mustache
Due: none

chore: generated code for commit eb108de795fc6824dfd9a3634de7d0c2311ddd02. [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/builds/models.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/builds/node.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/builds/node.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/builds/node.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/builds/node.ts
  clients/algoliasearch-client-javascript/packages/client-insights/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/client-insights/builds/node.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/builds/node.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/builds/node.ts
  clients/algoliasearch-client-javascript/packages/client-search/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/client-search/builds/node.ts
  clients/algoliasearch-client-javascript/packages/client-sources/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/client-sources/builds/node.ts
  clients/algoliasearch-client-javascript/packages/predict/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/predict/builds/node.ts
  clients/algoliasearch-client-javascript/packages/recommend/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/recommend/builds/node.ts
Due: none

chore: prepare release 2022-07-28 (#878)
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: release 2022-07-28 [skip ci]
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/AbtestingClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/AnalyticsClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/InsightsClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/PersonalizationClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/PredictClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/QuerySuggestionsClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/RecommendClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-java-2/gradle.properties
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/client-sources/package.json
  clients/algoliasearch-client-javascript/packages/client-sources/src/sourcesClient.ts
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/composer.json
  tests/output/java/build.gradle
Due: yarn fix:json

chore(deps): dependencies 2022-08-01 (#879)
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  package.json
  scripts/package.json
  templates/java/tests/build.mustache
  templates/javascript/clients/package.mustache
  templates/javascript/tests/package.mustache
  yarn.lock
Due: yarn fix:json

chore: generated code for commit a8b6311543fa04459bd58caa560c94aff5422675. [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-sources/package.json
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  tests/output/java/build.gradle
Due: yarn fix:json

feat(javascript): provide `browseObjects`, `browseRules` and `browseSynonyms` helper methods (#887)
  .github/.cache_version
  clients/algoliasearch-client-javascript/bundlesize.config.json
  clients/algoliasearch-client-javascript/packages/client-common/index.ts
  clients/algoliasearch-client-javascript/packages/client-common/jest.config.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/create-iterable-promise.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/create-retryable-promise.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/createIterablePromise.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/createRetryablePromise.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/CreateIterablePromise.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/CreateRetryablePromise.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/index.ts
  specs/search/paths/rules/searchRules.yml
  templates/javascript/clients/api-single.mustache
  templates/javascript/clients/client/api/helpers.mustache
  templates/javascript/clients/client/api/imports.mustache
  templates/javascript/clients/client/model/clientMethodProps.mustache
  website/docs/clients/migration-guides/index.mdx
Due: yarn fix:json

chore: generated code for commit 46c1526f9aa7e79f8b10cfd675f75f79a986d39c. [skip ci]
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/model/clientMethodProps.ts
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/client-sources/src/sourcesClient.ts
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-php/lib/Api/SearchClient.php
  specs/bundled/search.yml
Due: none

feat(php): Restore Guzzle as a suggestion (#888)
  clients/algoliasearch-client-php/lib/Algolia.php
  clients/algoliasearch-client-php/lib/Http/CurlHttpClient.php
  config/generation.config.js
  templates/php/composer.mustache
Due: none

chore: generated code for commit 22f75c4e4d19cf24f67893c635f239a75975fab8. [skip ci]
  clients/algoliasearch-client-php/composer.json
Due: yarn fix:json

fix(javascript): expose `clearCache` and `appId` at the root of the client (#892)
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.test.ts
  templates/javascript/clients/api-single.mustache
Due: none

fix(javascript): make type filename consistent (#890)
  clients/algoliasearch-client-javascript/packages/client-common/src/createIterablePromise.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/cache.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/createClient.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/createIterablePromise.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/host.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/index.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/requester.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/transporter.ts
Due: none

chore: generated code for commit 2c7cd9c5f7f9fd5ff6efe930009edac539ed7539. [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/client-sources/src/sourcesClient.ts
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
Due: none

fix(specs): `getApiKeyResponse`, `multipleBatch`, `partialUpdateObject` (#889)
  specs/common/responses/common.yml
  specs/search/paths/keys/common/schemas.yml
  specs/search/paths/keys/key.yml
  specs/search/paths/keys/keys.yml
  specs/search/paths/objects/common/schemas.yml
  specs/search/paths/objects/getObjects.yml
  specs/search/paths/objects/multipleBatch.yml
  specs/search/paths/objects/partialUpdate.yml
  templates/java/api.mustache
  templates/javascript/clients/client/api/helpers.mustache
  templates/javascript/clients/client/model/clientMethodProps.mustache
  tests/CTS/methods/requests/search/partialUpdateObject.json
Due: yarn fix:json

chore: prepare release 2022-08-03 (#894)
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: release 2022-08-03 [skip ci]
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/AbtestingClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/AnalyticsClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/InsightsClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/PersonalizationClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/PredictClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/QuerySuggestionsClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/RecommendClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-java-2/gradle.properties
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/client-sources/package.json
  clients/algoliasearch-client-javascript/packages/client-sources/src/sourcesClient.ts
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/composer.json
  tests/output/java/build.gradle
Due: yarn fix:json

chore: add CONTRIBUTING.md (#893)
  CONTRIBUTING.md
Due: none

fix(javascript): helpers type options (#895)
  playground/javascript/node/search.ts
  templates/javascript/clients/client/api/helpers.mustache
  templates/javascript/clients/client/model/clientMethodProps.mustache
  website/docs/clients/installation.mdx
  website/docs/clients/migration-guides/javascript.md
Due: none

chore: generated code for commit 9753e2db76bd89f87d7e5d795554760d5025df28. [skip ci]
  clients/algoliasearch-client-javascript/packages/client-search/model/clientMethodProps.ts
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
Due: none

fix(specs): wrong body parameter name (#896)
  specs/search/paths/objects/partialUpdate.yml
  specs/search/paths/rules/common/schemas.yml
  specs/search/paths/rules/saveRules.yml
  tests/CTS/methods/requests/search/partialUpdateObject.json
  tests/CTS/methods/requests/search/saveRules.json
Due: yarn fix:json

chore: generated code for commit 005f9ed3f5fcaba9d4e6825085206f50a7d0cbe1. [skip ci]
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-javascript/packages/client-search/model/clientMethodProps.ts
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-php/lib/Api/SearchClient.php
  specs/bundled/algoliasearch.yml
  specs/bundled/search.yml
  tests/output/java/src/test/java/com/algolia/methods/requests/Search.test.java
  tests/output/javascript/src/methods/requests/search.test.ts
  tests/output/php/src/methods/requests/SearchTest.php
Due: none

chore: prepare release 2022-08-04 (#898)
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: release 2022-08-04 [skip ci]
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/AbtestingClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/AnalyticsClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/InsightsClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/PersonalizationClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/PredictClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/QuerySuggestionsClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/RecommendClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-java-2/gradle.properties
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/client-sources/package.json
  clients/algoliasearch-client-javascript/packages/client-sources/src/sourcesClient.ts
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/composer.json
  tests/output/java/build.gradle
Due: yarn fix:json

chore(deps): dependencies 2022-08-08 (#901)
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  eslint/package.json
  package.json
  playground/javascript/browser/package.json
  scripts/package.json
  website/package.json
  website/yarn.lock
  yarn.lock
Due: yarn fix:json

docs: add troubleshooting section to contributing guide (#897)
  website/docs/contributing/add-new-api-client.md
  website/docs/contributing/add-new-language.md
Due: none
