Repository algolia/algoliasearch-client-go: changes, and which lint-staged commands are due for each by the changed paths.
All: docker exec -t api-clients-automation yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix

.lintstagedrc:

{
  "generators/**/*.java": "docker exec -t api-clients-automation yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts)": "yarn scripts:lint --fix"
}

chore: Release version 3.28.1 [skip ci]
  ChangeLog.md
  algolia/transport/transport.go
Due: none

chore: generated code for commit ad21cc754bf4be0888d495828f566ca349b8a75a. [skip ci]
  algolia/predict/model_create_segment_response.go
  algolia/predict/model_update_segment_response.go
  clients/algoliasearch-client-javascript/packages/predict/model/createSegmentResponse.ts
  clients/algoliasearch-client-javascript/packages/predict/model/updateSegmentResponse.ts
  specs/bundled/predict.yml
Due: none

chore: prepare release 2023-04-20 (#1479)
  CHANGELOG.md
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: release 2023-04-20 [skip ci]
  algolia/analytics/client.go
  algolia/ingestion/client.go
  algolia/insights/client.go
  algolia/personalization/client.go
  algolia/predict/client.go
  algolia/query-suggestions/client.go
  algolia/recommend/client.go
  algolia/search/client.go
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/composer.json
Due: yarn fix:json

chore: generated code for commit 44962fa514f6b1c69899a9fae4a80b417f5d0598. [skip ci]
  algolia/ingestion/model_big_query_data_type.go
  algolia/ingestion/model_source_big_query.go
  algolia/ingestion/model_source_input.go
  algolia/ingestion/model_source_type.go
  algolia/ingestion/model_source_update_input.go
  clients/algoliasearch-client-javascript/packages/ingestion/model/bigQueryDataType.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/index.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/sourceBigQuery.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/sourceInput.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/sourceUpdateInput.ts
  specs/bundled/ingestion.yml
Due: none

chore: generated code for commit 3af3eb49c615f3d5fc03ec192992c8aa3df05b5e. [skip ci]
  algolia/predict/model_segment_affinity_filter.go
  clients/algoliasearch-client-javascript/packages/predict/model/segmentAffinityFilter.ts
  specs/bundled/predict.yml
  tests/output/javascript/src/methods/requests/ingestion.test.ts
Due: none

chore: prepare release 2023-05-02 (#1508)
  CHANGELOG.md
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: release 2023-05-02 [skip ci]
  algolia/analytics/client.go
  algolia/ingestion/client.go
  algolia/insights/client.go
  algolia/personalization/client.go
  algolia/predict/client.go
  algolia/query-suggestions/client.go
  algolia/recommend/client.go
  algolia/search/client.go
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/composer.json
Due: yarn fix:json

feat(recommend): implement Recommend-level waitTask
  algolia/search/index.go
  algolia/search/utils.go
  algolia/search/utils_test.go
Due: none

feat(recommend): implement Recommend-level waitTask (#730)
  algolia/search/index.go
  algolia/search/utils.go
  algolia/search/utils_test.go
Due: none

chore: update version to 3.29.0 [skip ci]
  ChangeLog.md
  algolia/transport/transport.go
Due: none

chore: generated code for commit 7c9cfb9b. [skip ci]
  algolia/analytics/.openapi-generator-ignore
  algolia/analytics/.openapi-generator/FILES
  algolia/analytics/.openapi-generator/VERSION
  algolia/ingestion/.openapi-generator/FILES
  algolia/ingestion/model_run.go
  algolia/ingestion/model_run_reason_code.go
  algolia/insights/.openapi-generator-ignore
  algolia/insights/.openapi-generator/FILES
  algolia/insights/.openapi-generator/VERSION
  algolia/personalization/.openapi-generator-ignore
  algolia/personalization/.openapi-generator/FILES
  algolia/personalization/.openapi-generator/VERSION
  algolia/predict/.openapi-generator-ignore
  algolia/predict/.openapi-generator/FILES
  algolia/predict/.openapi-generator/VERSION
  algolia/query-suggestions/.openapi-generator-ignore
  algolia/query-suggestions/.openapi-generator/FILES
  algolia/query-suggestions/.openapi-generator/VERSION
  algolia/recommend/.openapi-generator-ignore
  algolia/recommend/.openapi-generator/FILES
  algolia/recommend/.openapi-generator/VERSION
  algolia/search/.openapi-generator-ignore
  algolia/search/.openapi-generator/FILES
  algolia/search/.openapi-generator/VERSION
Due: none

chore: release 4.0.0-alpha.8
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  algolia/analytics/.openapi-generator-ignore
  algolia/analytics/.openapi-generator/FILES
  algolia/analytics/.openapi-generator/VERSION
  algolia/analytics/client.go
  algolia/ingestion/client.go
  algolia/insights/.openapi-generator-ignore
  algolia/insights/.openapi-generator/FILES
  algolia/insights/.openapi-generator/VERSION
  algolia/insights/client.go
  algolia/personalization/.openapi-generator-ignore
  algolia/personalization/.openapi-generator/FILES
  algolia/personalization/.openapi-generator/VERSION
  algolia/personalization/client.go
  algolia/predict/.openapi-generator-ignore
  algolia/predict/.openapi-generator/FILES
  algolia/predict/.openapi-generator/VERSION
  algolia/predict/client.go
  algolia/query-suggestions/.openapi-generator-ignore
  algolia/query-suggestions/.openapi-generator/FILES
  algolia/query-suggestions/.openapi-generator/VERSION
  algolia/query-suggestions/client.go
  algolia/recommend/.openapi-generator-ignore
  algolia/recommend/.openapi-generator/FILES
  algolia/recommend/.openapi-generator/VERSION
  algolia/recommend/client.go
  algolia/search/.openapi-generator-ignore
  algolia/search/.openapi-generator/FILES
  algolia/search/.openapi-generator/VERSION
  algolia/search/client.go
Due: yarn github-actions:lint --fix

chore: generated code for commit d2ad9cb9. [skip ci]
  algolia/analytics/api_analytics.go
  algolia/ingestion/api_ingestion.go
  algolia/insights/api_insights.go
  algolia/personalization/api_personalization.go
  algolia/predict/api_predict.go
  algolia/query-suggestions/api_query_suggestions.go
  algolia/recommend/api_recommend.go
  algolia/search/api_search.go
Due: none

Ignore IntelliJ IDEs technical folder
  .gitignore
Due: none

Add missing slash in a URL path
  algolia/search/index.go
Due: none

Go mod tidy
  go.sum
Due: none

Add trailing new line in gitignore
  .gitignore
Due: none

fix(recommend): Add missing slash in a Recommend URL path (#732)
  .gitignore
  algolia/search/index.go
  go.sum
Due: none

chore: update version to 3.29.1 [skip ci]
  ChangeLog.md
  algolia/transport/transport.go
Due: none

docs(changelog): Fix broken comparison links
  ChangeLog.md
Due: none

docs(changelog): Fix broken comparison links (#733)
  ChangeLog.md
Due: none

Handle taskIDs below 1000 as index scope
  algolia/search/utils.go
  algolia/search/utils_test.go
Due: none

chore: generated code for commit fe7057d1. [skip ci]
  algolia/analytics/api_analytics.go
  algolia/ingestion/api_ingestion.go
  algolia/insights/api_insights.go
  algolia/personalization/api_personalization.go
  algolia/predict/api_predict.go
  algolia/query-suggestions/api_query_suggestions.go
  algolia/recommend/api_recommend.go
  algolia/search/api_search.go
Due: none
