Repository algolia/algoliasearch-client-go: changes, and which lint-staged commands are due for each by the changed paths.
All: docker exec -t api-clients-automation yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix

fix: set default value to replicas to prevent `null` unmarshalling
  algolia/opt/replicas.go
Due: none

fix: set default value to string slices
  algolia/internal/gen/templates/option/string_slice.go.tmpl
  algolia/opt/advanced_syntax_features.go
  algolia/opt/alternatives_as_exact.go
  algolia/opt/analytics_tags.go
  algolia/opt/attributes_for_faceting.go
  algolia/opt/attributes_to_highlight.go
  algolia/opt/attributes_to_retrieve.go
  algolia/opt/attributes_to_snippet.go
  algolia/opt/attributes_to_transliterate.go
  algolia/opt/camel_case_attributes.go
  algolia/opt/custom_ranking.go
  algolia/opt/disable_exact_on_attributes.go
  algolia/opt/disable_prefix_on_attributes.go
  algolia/opt/disable_typo_tolerance_on_attributes.go
  algolia/opt/disable_typo_tolerance_on_words.go
  algolia/opt/explain.go
  algolia/opt/facets.go
  algolia/opt/index_languages.go
  algolia/opt/natural_languages.go
  algolia/opt/numeric_attributes_for_filtering.go
  algolia/opt/optional_words.go
  algolia/opt/query_languages.go
  algolia/opt/ranking.go
  algolia/opt/referers.go
  algolia/opt/replicas.go
  algolia/opt/response_fields.go
  algolia/opt/restrict_indices.go
  algolia/opt/restrict_searchable_attributes.go
  algolia/opt/rule_contexts.go
  algolia/opt/scopes.go
  algolia/opt/searchable_attributes.go
  algolia/opt/unretrievable_attributes.go
Due: none

feat(go): initial setup for go client (#1423)
  .github/.cache_version
  .github/actions/restore-artifacts/action.yml
  .github/actions/setup/action.yml
  .github/workflows/check.yml
  .github/workflows/pr-title.yml
  .gitignore
  Dockerfile
  config/.go-version
  config/clients.config.json
  config/generation.config.js
  config/openapitools.json
  config/release.config.json
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
  generators/src/main/java/com/algolia/codegen/Utils.java
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  go.mod
  playground/go/go.mod
  playground/go/go.sum
  playground/go/main.go
  scripts/ci/githubActions/setRunVariables.ts
  scripts/config.ts
  scripts/docker/build.sh
  scripts/formatter.ts
  scripts/playground.ts
  scripts/pre-gen/generateOpenapitools.ts
  scripts/release/__tests__/createReleasePR.test.ts
  templates/go/api.mustache
  templates/go/client.mustache
  templates/go/configuration.mustache
  templates/go/model.mustache
  templates/go/model_anyof.mustache
  templates/go/model_enum.mustache
  templates/go/model_oneof.mustache
  templates/go/model_simple.mustache
  templates/go/nullable_model.mustache
Due: docker exec -t api-clients-automation yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json

fix: set default value to string slices to prevent `null` unmarshalling (#720)
  algolia/internal/gen/templates/option/string_slice.go.tmpl
  algolia/opt/advanced_syntax_features.go
  algolia/opt/alternatives_as_exact.go
  algolia/opt/analytics_tags.go
  algolia/opt/attributes_for_faceting.go
  algolia/opt/attributes_to_highlight.go
  algolia/opt/attributes_to_retrieve.go
  algolia/opt/attributes_to_snippet.go
  algolia/opt/attributes_to_transliterate.go
  algolia/opt/camel_case_attributes.go
  algolia/opt/custom_ranking.go
  algolia/opt/disable_exact_on_attributes.go
  algolia/opt/disable_prefix_on_attributes.go
  algolia/opt/disable_typo_tolerance_on_attributes.go
  algolia/opt/disable_typo_tolerance_on_words.go
  algolia/opt/explain.go
  algolia/opt/facets.go
  algolia/opt/index_languages.go
  algolia/opt/natural_languages.go
  algolia/opt/numeric_attributes_for_filtering.go
  algolia/opt/optional_words.go
  algolia/opt/query_languages.go
  algolia/opt/ranking.go
  algolia/opt/referers.go
  algolia/opt/replicas.go
  algolia/opt/response_fields.go
  algolia/opt/restrict_indices.go
  algolia/opt/restrict_searchable_attributes.go
  algolia/opt/rule_contexts.go
  algolia/opt/scopes.go
  algolia/opt/searchable_attributes.go
  algolia/opt/unretrievable_attributes.go
Due: none

chore: update version to 3.26.5 [skip ci]
  ChangeLog.md
  algolia/transport/transport.go
Due: none

fix: unmarshal the legacy format before trying the new one
  algolia/search/rule_consequence_params.go
  algolia/search/rule_consequence_params_test.go
Due: none

feat: add support of tag parsing in rules
  algolia/search/rule.go
  algolia/search/rule_test.go
Due: none

fix: support both schemas at the same time in rule consequence params
  algolia/search/rule_consequence_params.go
  algolia/search/rule_consequence_params_test.go
Due: none

chore: update version to 3.27.0 [skip ci]
  ChangeLog.md
  algolia/transport/transport.go
Due: none

chore: generated code for commit 33ec7bc7453a41c235728496cfc7bb20fc094366. [skip ci]
  algolia/predict/model_create_segment_response.go
  algolia/predict/model_segment.go
  algolia/predict/model_update_segment_response.go
  clients/algoliasearch-client-javascript/packages/predict/model/createSegmentResponse.ts
  clients/algoliasearch-client-javascript/packages/predict/model/segment.ts
  clients/algoliasearch-client-javascript/packages/predict/model/updateSegmentResponse.ts
  specs/bundled/predict.yml
Due: none

chore: prepare release 2023-04-03 (#1443)
  CHANGELOG.md
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: release 2023-04-03 [skip ci]
  algolia/analytics/client.go
  algolia/ingestion/client.go
  algolia/insights/client.go
  algolia/personalization/client.go
  algolia/predict/client.go
  algolia/query-suggestions/client.go
  algolia/recommend/client.go
  algolia/search/client.go
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/composer.json
Due: yarn fix:json

Path conditions:
  docker exec -t api-clients-automation yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts)
