Repository algolia/algoliasearch-client-go: changes, and which lint-staged commands are due for each by the changed paths.
All: docker exec -t api-clients-automation yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix

test: fork contributions
  CONTRIBUTORS
Due: none

chore: prepare release 2022-08-31 (#977)
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: release 2022-08-31 [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/client-sources/package.json
  clients/algoliasearch-client-javascript/packages/client-sources/src/sourcesClient.ts
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
Due: yarn fix:json

chore: update version to 3.26.1 [skip ci]
  ChangeLog.md
  algolia/transport/transport.go
Due: none

fix(rules) Omitempty the of the facet values rules ordering
  algolia/search/rendering_content.go
  algolia/search/rendering_content_test.go
Due: none

fix(cts): friendly error message when a paremeter is not recognized (#978)
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
Due: docker exec -t api-clients-automation yarn cli format java generators

chore: add CODEOWNERS (#979)
  .github/CODEOWNERS.md
  CODEOWNERS
Due: none

feat(specs): create new methods (#974)
  specs/predict/common/parameters.yml
  specs/predict/common/schemas/Params.yml
  specs/predict/paths/fetchUserProfile.yml
  specs/predict/paths/users/delete.yml
  specs/predict/paths/users/fetch.yml
  specs/predict/paths/users/fetchAll.yml
  specs/predict/responses/InvalidCredentials.yml
  specs/predict/spec.yml
  tests/CTS/methods/requests/predict/deleteUserProfile.json
  tests/CTS/methods/requests/predict/fetchAllUserProfiles.json
Due: yarn fix:json

chore: generated code for commit 80724c1f9fe021caad3f95c05e0621bd2915f93b. [skip ci]
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/PredictClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/model/predict/DeleteUserProfileResponse.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/model/predict/FetchAllUserProfilesParams.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/model/predict/FetchAllUserProfilesResponse.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/model/predict/LimitParam.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/model/predict/NextPageTokenParam.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/model/predict/PreviousPageTokenParam.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/model/predict/Segments.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/model/predict/UserProfile.java
  clients/algoliasearch-client-javascript/packages/predict/model/clientMethodProps.ts
  clients/algoliasearch-client-javascript/packages/predict/model/deleteUserProfileResponse.ts
  clients/algoliasearch-client-javascript/packages/predict/model/fetchAllUserProfilesParams.ts
  clients/algoliasearch-client-javascript/packages/predict/model/fetchAllUserProfilesResponse.ts
  clients/algoliasearch-client-javascript/packages/predict/model/index.ts
  clients/algoliasearch-client-javascript/packages/predict/model/limitParam.ts
  clients/algoliasearch-client-javascript/packages/predict/model/nextPageTokenParam.ts
  clients/algoliasearch-client-javascript/packages/predict/model/previousPageTokenParam.ts
  clients/algoliasearch-client-javascript/packages/predict/model/segments.ts
  clients/algoliasearch-client-javascript/packages/predict/model/userProfile.ts
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  specs/bundled/predict.yml
  tests/output/java/src/test/java/com/algolia/methods/requests/Predict.test.java
  tests/output/javascript/src/methods/requests/predict.test.ts
Due: none

To ammend
  algolia/search/rendering_content.go
  algolia/search/rendering_content_test.go
Due: none

fix(javascript): update Predict models error spec (#980)
  .github/.cache_version
  specs/predict/common/parameters.yml
  specs/predict/paths/users/fetch.yml
  specs/predict/paths/users/fetchAll.yml
  specs/predict/responses/UserProfile.yml
Due: none

Update algolia/search/rendering_content_test.go
  algolia/search/rendering_content_test.go
Due: none

chore: refactoring tests and docker readme
  DOCKER_README.MD
  algolia/search/rendering_content_test.go
  cts/search/rendering_content.go
Due: none

fixup! chore: refactoring tests and docker readme
  cts/search/rendering_content.go
Due: none

Path conditions:
  docker exec -t api-clients-automation yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts)
